* {
  box-sizing: border-box;
}

body {
  font-family: "Cantora One", sans-serif;
}

#product-overview {
  background: url("./freedom.jpg");
  width: 100%;
  height: 520px;
  padding: 10px;
  /* border: 10px cyan solid;
  margin: 10px; */
}

.section-title {
  color: rgb(27, 132, 202);
  font-family: "Arvo", serif;
}

/* h1 {
  color: #f5f2f1;
  font-family: "Arvo", serif;
} */

.main-header {
  background:rgb(55, 141, 6);
  width: 100%;
  padding: 5px 12px;

}

.main-nav {
  display: inline-block;
  text-align: right;
  /* for calc function whitespace matters - this is also a 'hacky' method */
  width: calc(100% - 64px);
  vertical-align: middle;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;

}

.main-header__brand {
  color: saddlebrown;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
}
.main-nav__item a{
  color: saddlebrown;
  text-decoration: none;
  margin: 0 16px; 
  font-weight: bold;
  padding: 5px 0px;
}

.main-nav__item:hover,
.main-nav__item:active {
  color: white;
  border-bottom: 5px solid white
}

.main-nav__item--cta {
  color: white;
  background: #ff1b68;
  padding: 3px;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active{
  color: #ff1b68;
  background: white;
  border: none;
}