/* Task 1 cont. - Padding, border and some margin */
/* Task 2 - Set different padding and margin for the four different sides of the box */
.box{
  padding: 25px 8px 10px 15px;
  border: 3px solid maroon;
  margin: 5px 2px 25px 7px;
  /* Task 6 - Position the two boxes next to each other */
  display: inline-block;
  
}

/* Task 4 - Give the first box a height of 100% of window height */
#first-box{
  /* height: 100vh; */
  
  /* Task 5 - Set the first box back to a more reasonable height of 300px and width of 50% */
  height: 300px;
  width: 50%;
  /* Task 7 - "Hide" box number 1 and see how that changes the page. */
  display: none;
}

/* Task 8 - Add a hover effect to the LAST div element. Use pseudo-classes for that.*/
.box:last-of-type:hover {
  background: purple;
  color: aqua;
}
