/* Task 1 - Style the above <h1> tag to use any color of your choice and a sans-serif font. */
#assignment-instructions {
  color: blueviolet;
  font-family: 'Cantora One', sans-serif;
} 

/* Task 4 - Switch the order of the rules you created and use the dev tools of your browser to understand how specifity resolves conflicts (for the <code> elements). */
/* .green-text {
  color: green;
} */

/* Task 2 - Style all <code> tags to use the monospace font-family and have red text. */
code{
  color: red;
  font-family: monospace;
}

/* Task 3 - Use a class selector to ensure that the <code> elements in the second <li> element have a different color (e.g green) */
.green-text {
  color: green;
}

/* Task 5 - Set a default font (e.g sans-serif) for the entire content of your page  */
*{
  font-family: fantasy;
}
/* and use "Inheritence" to change the font of the <li> items, too */
li {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Task 6 - Use a combinator to give all <li> elements but the first one (!) a black background and white text color (don't worry if the numbers disappear). */
/* li:not(:first-child) {
  background: black;
  color: white;
}*/

/* Lecter answer using combinator li + li, could also use ~ combinator as it for this task it doesnt matter if it is a direct child or not */
/* li + li {
  background: black;
  color: white
} */

/* Task 7 - Use another combinator to now give all <li> inside an <ol> element a black background and white text color. */
ol > li {
  color: white;
  background: black;
}

